<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dotfiles.restart-bluetooth</string>
	<key>connections</key>
	<dict>
		<key>EA5605F4-78CC-4DA5-A723-3A5D9C3A690A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F6CBBE6-3B8F-45B4-BC52-4FC9DF73A38A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9F6CBBE6-3B8F-45B4-BC52-4FC9DF73A38A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFB33465-16C6-48FA-B750-4EE50D2AF70C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>description</key>
	<string>Power-cycles Bluetooth when a device will not reconnect.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Restart Bluetooth</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bt</string>
				<key>subtext</key>
				<string>Turn Bluetooth off, wait two seconds, and turn it on again</string>
				<key>text</key>
				<string>Restart Bluetooth</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA5605F4-78CC-4DA5-A723-3A5D9C3A690A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>&quot;$alfred_workflow_bundlepath/restart-bluetooth&quot;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9F6CBBE6-3B8F-45B4-BC52-4FC9DF73A38A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Bluetooth</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CFB33465-16C6-48FA-B750-4EE50D2AF70C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type `bt restart` in Alfred. Bluetooth is powered off for two seconds and then restored.</string>
	<key>uidata</key>
	<dict>
		<key>EA5605F4-78CC-4DA5-A723-3A5D9C3A690A</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>9F6CBBE6-3B8F-45B4-BC52-4FC9DF73A38A</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>CFB33465-16C6-48FA-B750-4EE50D2AF70C</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
